@CHARSET "UTF-8";
*		{ margin:0; padding: 0; }
/*--------------------------------------------------------------------------------
	로그인
--------------------------------------------------------------------------------*/
.page-login	h1									{ text-align:center; margin:30px auto 0 auto; line-height:80px; font-family:"맑은 고딕", tahoma; color:rgb(121, 179, 11); } 
.page-login .ui-field-contain					{ margin:0px auto 0 auto; }

.page-login .ui-controlgroup-controls			{ width:100% }
.page-login .ui-field-contain div.ui-input-text	{ display:block; width:280px; margin:0 auto 10px auto; }
.page-login .ui-btn.ui-submit					{ display:block; width:100px; margin-top:20px; margin-left:auto; margin-right:auto }

.join-text										{ width:100%; font-size:12px; text-align:center; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; }
.join-text a									{ text-decoration:none; }

.error-text										{ width:100%; font-size:12px; text-align:center; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; font-weight:bold; color:#f00 }					

/*--------------------------------------------------------------------------------
	메인
--------------------------------------------------------------------------------*/
.main p{
border: 1px dotted #999;
}
.main {background-color:white;}
.main h2, h3{color:#558BBA;}
.welcome-message								{ width:100%; font-size:12px; text-align:left; padding:10px; font-family:"맑은 고딕", 돋움, 굴림; text-shadow:none; }
.welcome-message img							{ display:block; width:100px; }
.welcome-message h2								{ font-size:14px }

/*--------------------------------------------------------------------------------
	 방명록
--------------------------------------------------------------------------------*/
.guest table{ 
font-family: 맑은 고딕;
border: 1px dotted 	#999 ;
padding:10px; 
margin:10px 5px 5px 10px;
background:#f3f3f3 ;
color:#222 ;
witdh:200px;
}
.guest-table-td{ 
border: 1px dotted 	#999 ;
}
/*--------------------------------------------------------------------------------
	 게시판
--------------------------------------------------------------------------------*/
.board table{ 
{ border-collapse:collapse;border-top1px: solid #333; border-bottom:1px solid #333; margin:10px 20px 0px; }
td {border-collapse:collapse;border-bottom:1px dotted #333; padding:8px;}
th {border-collapse:collapse; padding:8px;}
th {background-color:#999; font-size:1.1em; color:white; border-bottom-width:2px;border-top-width:2px;}
tr:hover { background-color: #FC6; cursor:pointer;}
}

.boardview tr td {
border: 1px solid;	
	
}

/*--------------------------------------------------------------------------------*/

.join p{margin:10px auto;}

  